<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <record id="action_quelyos_dynamic_picking_settings" model="ir.actions.act_window">
    <field name="name">Quelyos – Dynamic Picking</field>
    <field name="res_model">res.config.settings</field>
    <field name="view_mode">form</field>
    <field name="view_id" ref="view_quelyos_dynamic_picking_settings"/>
    <field name="target">current</field>
    <field name="context">{}</field>
  </record>

  <menuitem id="menu_quelyos_dynamic_picking_settings"
            name="Quelyos – Dynamic Picking"
            parent="stock.menu_stock_config_settings"
            action="action_quelyos_dynamic_picking_settings"
            sequence="95"/>
</odoo>
